/* reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #288bdc;
    font-size: 14px;
}

body {
    text-align: center;
}

.wrapper {
    width: 620px;
    height: 440px;
    margin: 0% auto;
    background-image: url(../image/bg.png);
    text-align: left;
}

/* header */
div.header {
    padding: 5px 10px 10px 10px;
    text-align: center;
    color: #ffffff;
}

/* content */
div.content {
    padding: 10px 20px;
}
div.content > a {
    text-decoration: underline;
    display: block;
    padding:5px;
    font-size: 13px;
}