/* 全局reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #288bdc;
    font-size: 14px;
}

body {
    text-align: center;
}

.wrapper {
    width: 620px;
    height: 440px;
    margin: 5% auto;
    background-image: url(../image/bg.png);
    text-align: left;
}

/* header */
div.header {
    height: 25px;
    text-align: center;
}

/* content */
div.content {
    overflow: hidden;
    height: 414px;
}

/* left */
div.content div.left {
    float: left;
    width: 220px;
    height: 410px;
    display: inline;
}

div#rank {
    background: url(../image/sprite.png) 0 0 no-repeat;
    margin: 10px 20px;
    width: 180px;
    height: 30px;
}

div.left ul {
    width: 210px;
    margin-left: 2px;
}

div.left a {
    text-decoration: none;
}

div.left li {
    padding: 10px 10px 10px 30px;
    background-color: #24367b;
}

div.left li.odd {
    background-color: #1e2e6c;
}

/* right */
div.content div.right {
    float: right;
    width: 380px;
    height: 410px;
    padding-left: 20px;
    display: inline;
}

div.query {
    padding: 15px 0px;
}

.query .field {
  display: inline-block;
  width: 50px;
}

div.query select {
    width: 115px;
}

div.list {
    height: 305px;
    overflow: hidden;
}

div.list li {
    float: left;
    width: 105px;
    height: 145px;
    padding-right: 15px;
}

a.vote-btn {
    text-decoration: none;
    text-align: center;
    line-height: 1.4;
    display: block;
    color: white;
    background: url(../image/sprite.png) -1px -112px no-repeat;
    width: 100px;
    height: 23px;
}

/*div.content li a {*/
    /*display: block;*/
    /*width:6.6em;*/
    /*line-height: 1.4;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*border: 1px solid blueviolet;*/
    /*background-color: blueviolet;*/
    /*color: white;*/
/*}*/

/* pagination */
div.footer ol.pagination {
    overflow: hidden;
}

ol.pagination li {
    float: left;
    margin-right: 0.2em;
}

ol.pagination a,
ol.pagination li.selected {
    display: block;
    padding: 0.1em 0.2em;
    border: 1px solid #122051;
    text-decoration: none;
}

ol.pagination a:hover,
ol.pagination a:focus,
ol.pagination li.selected {
    background-color: blueviolet;
    color: white;
}

ol.pagination a[rel="prev"],
ol.pagination a[rel="next"] {
    border: none;
}

ol.pagination a[rel="prev"]:before {
    content: "\00AB";
    padding-right: 0.5em;
}

ol.pagination a[rel="next"]:after {
    content: "\00BB";
    padding-left: 0.5em;
}

.ddContainer {
  display: inline-block;
  margin: 0 10px 5px 0;
}
.ddContainer .ddToggle {
  border-color: #122051!important;
  background: #18275E;
  color: white;
  font-size:12px;
  height: 16px;
  line-height: 16px;
  width: 90px!important;
}
.ddContainer .ddToggle span {
  border-color: #288bdc transparent transparent;
}
.ddOptionList {
  min-width: 114px;
  _width: 114px;
}
