/* 全局reset */
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: #288bdc;
    font-size: 14px;
}

body {
    text-align: center;
}

.ib {
  display:inline-block;
  *display:inline;
  *zoom:1;
}

.wrapper {
    width: 620px;
    height: 440px;
    margin: 0% auto;
    background-image: url(../image/bg.png);
    text-align: left;
}

/* header */
div.header {
    height: 25px;
}
div.header strong {
    color: #ffffff;
}
div.header span {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-left: 15px;
}
div.header strong.peroid {
    display: inline-block;
    margin-left: 30px;
}

/* content */
div.main {
    overflow: hidden;
    height: 414px;
}

/* left */
div.main div.left {
    float: left;
    width: 220px;
    height: 410px;
    display: inline;
}

div#rank {
    background: url(../image/sprite.png) 0 0 no-repeat;
    margin: 10px 20px;
    width: 180px;
    height: 30px;
}

div.left ul {
    width: 210px;
    margin-left: 2px;
    margin-top: -5px;
}

div.left span {
    position: relative;
    display: inline-block;
    left: 5px;
    top: -5px;
    font-size: 13px;
}

div.left li {
    padding: 6px 10px 6px 10px;
    background-color: #24367b;
    height: 22px;
}

div.left li img {
    position: relative;
    left: 5px;
    max-width:22px;
    width:expression(this.width>22?"22px":this.width);
    height:auto;
}

div.left li.odd {
    background-color: #1e2e6c;
}

/* right */
div.main div.right {
    float: right;
    width: 380px;
    height: 410px;
    padding-left: 15px;
    display: inline;
}

div.query {
    padding: 15px 0px 5px 0px;
    position: relative;
    z-index: 10000;
}

form.query-inner {
    text-align: left;
    vertical-align: middle;
}

form.search-form {
    position: absolute;
    bottom: 10px;
    right: 50px;
}

.query .field {
  display: inline-block;
  width: 50px;
  margin-top: 3px;
}

div.right > .nano {
    width: 375px;
    height: 305px;
}

div.right > .nano .content {
    height: 305px;
}

div.right > .nano .pane {
    background: #24367b;
}

div.right > .nano .slider {
    background: #487bbc;
}

div.right > .nano .content li {
    float: left;
    width: 105px;
    height: 145px;
    padding-right: 15px;
    padding-bottom: 10px;
}

div.detail {
    background-color: #18275e;
    padding: 3px 2px;
}

div.count-div {
    text-align: center;
    padding: 3px 0px;
}

span.count ,
span.count i {
    color: #6bbeff;
}

div.detail > span.name {
    color: #fff;
    margin-top: 3px;
    margin-left: 2px;
    line-height: 18px;
}

a.figure {
    position: relative;
    display: block;
}

.figure img {
    border: 0;
}

a.figure > div.index {
    position: absolute;
    left: 59px;
    top: 62px;
    color: #ffffff;
}

a.vote-btn {
    text-decoration: none;
    text-align: center;
    line-height: 23px;
    display: block;
    color: white;
    background: url(../image/sprite.png) -1px -112px no-repeat;
    width: 100px;
    height: 23px;
    margin-left: 1px;
}

/* pagination */
div.footer {
    overflow: hidden;
    padding: 5px 0px;
}

div.footer ol.pagination {
    float: left;
    padding-top: 2px;
}

ol.pagination li {
    float: left;
    margin-right: 0.2em;
}

ol.pagination a,
ol.pagination li.selected {
    display: block;
    padding: 0.1em 0.2em;
    border: 1px solid #122051;
    text-decoration: none;
}

ol.pagination a:hover,
ol.pagination a:focus,
ol.pagination li.selected {
    background-color: blueviolet;
    color: white;
}

ol.pagination a[rel="prev"],
ol.pagination a[rel="next"] {
    border: none;
}

div.footer > span {
    margin-left: 10px;
}

div.footer > input {
    width: 80px;
    height: 14px;
}

.ddContainer {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 10px 5px 0;
  vertical-align: top;
  z-index: 10000;
}
.ddContainer .ddToggle {
  border-color: #122051!important;
  background: #18275E;
  color: white;
  font-size:12px;
  height: 16px;
  line-height: 16px;
  width: 80px!important;
}
.ddContainer .ddToggle span {
  border-color: #288bdc transparent transparent;
}
.ddOptionList {
  min-width: 104px;
  _width: 104px;
}

.search-form {
  position:relative;
  font-size: 0;
  border: 1px solid #122051;
}

.search-form .submit {
  vertical-align: top;
  width: 22px;
  height: 20px;
  background: url(../image/sprite.png) #18275e -182px 2px;
  cursor: pointer;
  border: none;
}

.goto {
    background: #18275e;
    border: 1px solid #122051;
    font-size: 0;
}

.goto .page,.search-form .search {
    height: 18px;
    border: none;
    padding: 1px;
    border-right: 1px solid #122051;
    background: #18275e;
}

.search-form .search {
  padding-left: 5px;
  width: 127px;
}

.goto .page {
    width: 24px;
}

.goto .submit {
    border: none;
    width: 22px;
    height: 20px;
    vertical-align: top;
    background: url(../image/sprite.png) #18275e -179px -43px;
    cursor: pointer;
}