<!DOCTYPE html>
<html>
<head>
    <title>倩女其姝幽梦天使竞选（初赛）</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="js/jqDropDown.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/nanoscroller.css"/>
    <script language="javascript" type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.nanoscroller.min.js"></script>
    <script language="javascript" type="text/javascript" src="js/jqDropDown.jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
        (function () {
            $(function () {
                $('.area-select').jqDropDown({
                    afterToggle: function () {
                        var _this = $(this);
                        _this.parents('.ddContainer').css('zIndex', '100000000');
                        _this.next().width('auto')
                    },
                    optionChanged: function () {
                        var _this = $(this);
                        $.ajax({
                            'url': '',
                            'data': '',
                            'dataType': 'json',
                            'type': 'GET',
                            'success': function (data) {
                                // 根据所选大区，更新页面
                            }
                        });
                    }
                });

                $('#group-select, #server-select').jqDropDown({
                    afterToggle: function () {
                        var _this = $(this);
                        _this.next().width('auto')
                    }
                });

                $(".nano").nanoScroller({alwaysVisible: true});

                $('.goto').submit(function (e) {
                    e.preventDefault();
                    $.post('', {
                        page: $('.goto .page').val()
                    }, function () {

                    });
                });

                $('.vote-btn').click(function () {
                    var external = window.external;
                    external.ICC_VOTE(1);
                });
            })
        })();

        function vote_callback(result) {
            if (result == 0) {
                alert('投票失败');
            } else if (result == 1) {
                alert('投票成功');
            }
        }
    </script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <span>可投票数：</span><strong>5</strong>
    </div>
    <div class="main">
        <!-- content goes here -->
        <div class="left">
            <div id="rank"></div>
            <ul>
                {% for xxx in xxx %}
                <li class="{{ loop.cycle('odd', 'even')}}">
                    <img src="{{ xxx.xxx}}">
                    <a href="#">{{ xxx.xxx|e }} {{ xx.xxx|e }}票</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="query">
                <!-- query content goes here -->
                <span class="field">大&nbsp;&nbsp;&nbsp;区:</span>

                <select class="area-select" name="area">
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                </select>

                <span class="field">帮&nbsp;&nbsp;&nbsp;会:</span>

                <select id="group-select" name="group">
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                </select>

                <br>
                <span class="field">服务器:</span>

                <select id="server-select" name="server">
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                    <option value="all">全部</option>
                </select>

                <input id="search-input" type="search"/>
            </div>
            <div class="nano">
                <div class="content">
                    {% for xxx in xxx %}
                    <li>
                        <div class="detail">
                            <span class="name">{{ xxx.name }}</span>

                            <a class="figure" href="profile.html">
                                <img src="{{ xxx.avatar }}" alt="">

                                <div class="index">{{ xxx.id }}</div>
                            </a>

                            <div class="count-div">
                                <span class="count"><i class="num">{{ xxx.count }}</i> 票</span>
                            </div>
                            <a href="javascript:void(0)" class="vote-btn">投她一票</a>
                        </div>
                    </li>
                    {% endfor %}
                </div>
            </div>
            <div class="footer">
                <ol class="pagination">
                    <li><a href="" rel="prev">Prev</a></li>
                    <li><a href="">1</a></li>
                    <li class="selected">2</li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="" rel="next">Next</a></li>
                </ol>
                <span>跳转到：</span>

                <form class="goto ib">
                    <input type="text" value="" name="page" class="page"/>
                    <input class="submit ib" type="submit" value="">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
